#menu-animal {
    display: flex;
    width: 75%;
    margin: 25px auto;
    justify-content: space-between;

    .btn {
        font-family: "Nunito";
        font-weight: 300;
        font-size: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #003636;
        background: none;
        cursor: pointer;
        outline: none;
    }
}
#gallery {
    display: flex;
    flex-wrap: wrap;
    width: 87%;
    margin: auto;
    .column {
        display: none;
        justify-content: center;
        width: 33%;
        margin: 50px 0;
        .content {
            position: relative;
            background-color: transparent;
            height: auto;
            :hover {
                background-color: rgba(251, 199, 141, 0.6);
                transition: 0.5s;
            }
            img {
                object-fit: cover;
                width: 325px;
                height: 325px;
            }

            .back {
                display: flex;
                position: absolute;
                width: 100%;
                height: 325px;
                top: 10px;
                left: 10px;
                background: rgba(86, 197, 150, 0.6) 60%;
                z-index: -1;
            }
            span {
                display: none;
                position: absolute;
                font-family: "Nunito";
                font-size: 36px;
                line-height: 40px;
                text-align: center;
                left: 0;
                height: 100%;
                width: 100%;
                bottom: 0;
                top: 0;
                padding-top: 40%;
                box-sizing: border-box;
            }
        }
    }
}
.show {
    display: flex !important;
}
