@media only screen and (max-width: 1440px) {
    #footer {
        height: 650px;
        margin-top: 150px;
        .top {
            margin-top: 65px;
            p {
                margin-bottom: 10px;
            }
        }
        .bot {
            bottom: 75px;
            .left {
                a {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 23px;
                }
            }
        }
        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 23px;
        }
        .box {
            height: 350px;
            .content {
                padding: 105px 70px;
                span {
                    font-size: 16px;
                    margin-bottom: 20px;
                }
                input {
                    height: 40px;
                    font-size: 16px;
                }
                .bot-button {
                    height: 42px;
                    margin-top: 10px;
                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    #footer {
        .box {
            .content {
                span {
                    font-size: 14px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    #footer {
        height: auto;
        margin-top: 100px;
        span {
            font-size: 14px;
        }
        .box {
            width: 100%;
            position: unset;
            height: auto;

            .content {
                padding: 75px 12.5%;
            }
        }
        .top {
            margin-top: 50px;
            padding: 0 12.5%;
            position: unset;
            width: auto;
        }
        .bot {
            margin: 50px 0;
            position: unset;
            .right {
                .social {
                    display: flex;
                    a {
                        margin-right: 5px;
                    }

                    img {
                        width: 90%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    #footer {
        li {
            text-align: center;
        }
        .box {
            .content {
                padding: 75px 10%;
            }
        }
        .top {
            padding: 0 10%;
            align-items: center;
        }
        .bot {
            flex-wrap: wrap;
            .left {
                margin-left: 0;
                width: 100%;
                margin-bottom: 50px;
                align-items: center;
            }
            .mid {
                margin-left: 0;
                width: 100%;
                align-items: center;
                margin-bottom: 50px;
            }

            .right {
                margin-right: 0;
                width: 100%;
                align-items: center;
            }
        }
        .social {
            a {
                margin: 0 10px;
                img {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 425px) {
}

@media only screen and (max-width: 375px) {
}
@media only screen and (max-width: 325px) {
}
