.button {
    background: linear-gradient(91.75deg, $orange 0%, $yellow 100%);
    border-radius: 80px;
    
    padding: 10px 45px;

    a {
        font-size: 14px;
    }
}

input, textarea {
    height: 55px;
    border: 1px solid $dark-green;
    background: none;
    font-family: "Nunito";
    font-weight: 300;
    font-size: 18px;
    color: rgba(0, 54, 54, 0.6);
    padding-left: 10px;
    outline: none;
}
