@media only screen and (max-width: 1440px) {
    #header {
        padding-top: 55px;
        .title {
            width: 60%;
            margin-top: 100px;
            .title-shadow {
                top: 4px;
                left: 4px;
            }
            .button {
                a {
                    font-size: 16px;
                }
            }
            h2 {
                font-size: 20px;
                margin-bottom: 25px;
            }
        }
        img {
            height: 70%;
        }
    }

    #posts {
        .post {
            margin: 100px 0;
            .othermargin {
                margin-right: 75px;
            }
            .left {
                img {
                    width: 350px;
                    height: 350px;
                }
                .back {
                    top: 7px;
                    left: 7px;
                    width: 350px;
                    height: 350px;
                }
            }
            .right {
                margin-left: 75px;
                h3 {
                    font-size: 20px;
                }
                p {
                    margin: 25px 0 20px 0;
                }
                .button {
                    a {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    #header {
        margin-left: 25px;
        img {
            height: 65%;
        }
        .title {
            .button {
                a {
                    font-size: 14px;
                }
            }
            h2 {
                font-size: 18px;
                margin-bottom: 20px;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    #header {
        img {
            height: 55%;
        }
        .title {
            .button {
                a {
                    font-size: 12px;
                }
            }
            h2 {
                font-size: 16px;
                margin: 15px 0;
            }
            .title-shadow {
                top: 3.5px;
                left: 3.5px;
            }
        }
    }
    #posts {
        .post {
            margin: 75px 0;
            .othermargin {
                margin-right: 50px;
            }
            .left {
                img {
                    width: 275px;
                    height: 275px;
                }
                .back {
                    width: 275px;
                    height: 275px;
                }
            }
            .right {
                margin-left: 50px;
                h3 {
                    font-size: 18px;
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    #header {
        align-items: flex-start;
        margin-left: 0;

        .title {
            align-items: center;
            margin-top: 50px;
            width: 100%;

            .title-shadow {
                width: 100%;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                top: 0;
                left: 0;
                padding: 3.5px 0 0 3.5px;
            }
        }

        img {
            height: auto;
            bottom: 20px;
            height: 50%;
        }
    }
    #posts {
        .otherflex {
            flex-direction: column-reverse !important;
        }
        .post {
            flex-direction: column;
            margin: 75px 0 50px 0;

            .right {
                margin: 0;
            }
            .left {
                margin-bottom: 25px;
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    #header {
        img {
            height: 45%;
        }
    }
    #posts {
        .post {
            .left {
                img {
                    width: 250px;
                    height: 250px;
                }
                .back {
                    width: 250px;
                    height: 250px;
                }
            }
        }
    }
}
@media only screen and (max-width: 375px) {
    #header {
        img {
            height: 40%;
        }
        .title {
            h2 {
                font-size: 14px;
                margin: 10px 0;
            }
        }
    }

    #posts {
        .post {
            .left {
                img {
                    width: 225px;
                    height: 225px;
                }
                .back {
                    width: 225px;
                    height: 225px;
                }
            }
            .right {
                h3 {
                    font-size: 16px;
                }
            }
        }
    }
}
@media only screen and (max-width: 325px) {
}
