#content {
    display: flex;
    width: 75%;
    margin: 85px auto;

    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33%;

        .icon {
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
            img {
                width: 75%;
            }
        }
        .text {
            display: flex;
            flex-direction: column;

            .top {
                display: flex;
                justify-content: space-between;

                .left {
                    display: flex;
                    flex-direction: column;

                    span {
                        text-align: left;
                    }
                }
                .right {
                    display: flex;
                    flex-direction: column;

                    span {
                        text-align: right;
                    }
                }
            }

            .bot {
                margin-top: 15px;
                span {
                    letter-spacing: 1.5px;
                }
            }

            span {
                text-align: center;
                margin-bottom: 5px;
                letter-spacing: 2px;
            }
        }
    }
}

#contact {
    display: flex;
    width: 75%;
    margin: auto;
    margin-top: 100px;

    .left {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-right: 50px;

        .wpforms-field-label {
            margin-bottom: 15px;
font-weight: 1;
font-size: 18px;
        }

        input {
            height: 45px;
            margin-bottom: 15px;
        }

        textarea {
            margin-bottom: 15px;
            resize: none;
    border: 1px solid $dark-green;
    background: none;
    font-family: "Nunito";
    font-weight: 300;
    font-size: 18px;
    color: rgba(0, 54, 54, 0.6);
    padding-left: 10px;
    outline: none;
    border-radius: 0;
        }

        .button {
            width: fit-content;
            background: linear-gradient(91.75deg, rgba(251, 199, 141) 0%, rgba(249, 226, 174) 100%);         
            border-radius: 80px;
            padding: 10px 45px;
            text-transform: uppercase;
            font-size: 15px;
            font-family: "Nunito";
            font-weight: 300;
            color: #003636;
            letter-spacing: 2px;
            border: none;
        }
    }

    .right {
        display: flex;
        position: relative;
        img {
            z-index: 8;
        }
        .back {
            display: flex;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 10px;
            left: 10px;
            background: rgba(86, 197, 150, 0.6) 60%;
        }
    }
}
