@media only screen and (max-width: 1440px) {
    h1 {
        font-size: 76px;
        line-height: 80px;
    }
}

@media only screen and (max-width: 1200px) {
    h1 {
        font-size: 64px;
        line-height: 70px;
    }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 800px) {
}
