@media only screen and (max-width: 1440px) {
    h1 {
        font-size: 76px;
        line-height: 80px;
    }
    h2 {
        font-size: 30px;
    }
    p, span {
        font-size: 16px;
    }
    #jaunumi {
        height: 125px !important;
    }
    #title {    
        height: 225px;
        
    }
}

@media only screen and (max-width: 1200px) {
    h1 {
        font-size: 64px;
        line-height: 70px;
    }
    #title {
        height: 200px;
    }
}

@media only screen and (max-width: 1024px) {
    h2 {
        font-size: 26px;
    }
    p {
        font-size: 14px;
    }
    #title {
        height: 160px;
    }
}

@media only screen and (max-width: 800px) {
    h1 {
        text-align: center;
    }
    #title {
        height: 210px;
        .title {
            .title-shadow {   
                top: 3px;
                left: 3px; 
                
            }
        }
    }
}
@media only screen and (max-width: 425px) {
    h2 {
        font-size: 24px;
    }
    #title {
        height: 200px;
    }
}
@media only screen and (max-width: 375px) {
    h1 {
        font-size: 56px;
        line-height: 60px;
    }
    h2 {
        font-size: 20px;
    }
    #jaunumi {
        height: 100px !important;
    }
    #title {
        height: 175px;
    }
}
